*{margin: 0; padding: 0}
body { 
    background-color: #ebebeb; 
    font: 14pt Verdana, Arial, Helvetica, sans-serif; 
    margin: 10 0 10 0px; 
    text-align: center; 
} 
#contenedor{ 
    text-align: left; 
    margin: auto; 
    width: 1500px; 
} 
#cabecera{ 
    background-color: #d0d0ff; 
    color: #333300; 
    font-size:12pt; 
    font-weight: bold; 
    padding: 3 3 3 10px; 
} 
#cuerpo{ 
    margin: 10 0 10 0px; 
} 
#lateral{ 
    background-color: #FFF; 
    width: 290px; 
    float:left; 
}  
#otrolado{ 
    background-color: #FFF;
    float: right;   
    width: 290px; 
} 
#principal{ 
    background-color: #FFF; 
    margin-left: 300px; 
    padding: 4 4 4 4px; 
    width: 900px; 
} 
#pie{ 
    background-color: #cccccc; 
    clear: both; 
    padding: 3 10 3 10px; 
    text-align:right; 
}

